<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;系统介绍</h3>
        <ul>
            <li>粉象权限系统用于粉象系统后台的用户的权限管理。</li>
            <li>用来管理用户、角色、菜单、按钮等。</li>
            <li>系统以角色为核心进行权限管理。</li>
            <li>给用户配置角色，可以配置多个角色，角色的权限合集，就是用户的权限集。</li>
            </ul>
    </div>
</div>
</body>
</html>